<%= render 'navbar' %>

<%= @journal.name %>

<%= @journal.percent_complete %> Task Completed

<progress value="<%= @journal.percent_complete %>" max="100">
</progress>


<%# Link ng New Task Path %>
<%= link_to new_journal_task_path(@journal) do%>
    <i class="fas fa-plus mr-3" aria-hidden="true"></i> Task
<% end %>

<br/>
<br/>

<% if @journal.tasks.count == 0 %>
    <p>No Tasks Yet</p>
    <%# Link ng New Task Path %>
    <%= link_to new_journal_task_path(@journal) do%>
        Add Task Now
    <% end %>
<% end %>

<%# if there is or are tasks available %>
<% @journal.tasks.each do |task| %>
    <% if task.completed? == false %>
    <%= raw task_label(task)[:html] %>
        
        <div>
            <%= task.name %>  
            <br/>          
            <%= date_parse(task.deadline) %>
        </div>
        <%= truncate(strip_tags(task.description.to_s), length: 100) %>
        <div>
            <%# show task path %>
            <%= link_to journal_task_path(@journal, task) do%>
                Show Task
            <% end %>

            <br/>

            <%# edit task path %>
            <%= link_to edit_journal_task_path(@journal, task) do%>
                Edit Task
            <% end %>

            <br/>

            <%# delete task %>
            <%= link_to journal_task_path(@journal, task), method: :delete, data: {confirm: 'Are you sure?'} do%>
                Delete Task
            <% end %>

            <br/><br/>
        </div>
    <% end %>
<% end %>



<% unless @journal.percent_complete == 0 %>

<% end %>